body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#score_board{
    background-color:  #cdc1b5;
    border-bottom: 6px solid #bbada0;
    width: calc(600px - 32px);
    padding: 8px 24px;
    margin: 0 auto;
    color: #fefefe;
}
#profile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    align-items: top;
}
#board{
    width: 600px;
    height: 600px;
    background-color: #cdc1b5;
    margin: 0 auto;
    border: 6px solid #bbada0;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x2{
    background-color: #fefefe;
    color: #727371;
}
.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}